fastapi>=0.110.0
uvicorn[standard]>=0.27.0
python-multipart
demucs
faster-whisper
openai
torch
torchaudio
python-dotenv
av>=13.0.0
soundfile
pandas>=2.2.0
langchain
langchain-openai
pydantic>=2.0.0
pydantic-settings
numpy<2.0.0
tensorflow==2.15.0
basic-pitch
music21
librosa
